  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,800;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}
.color{
    color:blue;
    font-weight: bold;
}
.market{
    color: white;
    font-weight: 700;
}
.admin{
    /* // linear-gradient(rgba(154, 18, 207, 0.452),rgba(0,0,0,1)), */
    background-image:url("admin.jpg");
    background-size:cover ;
    background-repeat: no-repeat;
}
.navbar li a{
    color: white;
}
.navbar .rad{
    border-radius: 50px;
    background-color: white;
    color: black;
    border: none;
}
.why_img{
    width: 100%;
}

.card{
    box-shadow: 0.5px 0.5px 13px black;
}
p{
    color: rgb(72, 84, 148) 
}
#footer{
    background-color:rgb(143, 140, 140) ;
}
.card-img-top{
    width:80%
}
.contact{
    background-color: rgb(39, 22, 100);
    border-radius: 30px;
    color: white;
}

@media (max-width:767px){
    p{
        font-size: 10px;
    }
   
}


@media (max-width:500px){
    .contact{
        display: flex;
        flex-direction: column;
    }
   
}

